<!--

    Created on : 04 Jan, 2019, 1:33:49 AM
    Author     : Tejas07PSK (Palash Sarkar)

-->

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1><%= title %></h1>
<form method="GET" action="/images">
<div style="position: relative; top: 50px;" class="form-group">
    <label style="font-size: 20px;">List of available search-keys</label>
    <% for (var i = 0; i < data.length; i += 1) { %>
    <input name="key" style="position: relative; top: 30px; font-size: 30px;" type="submit" class="col-sm-12 btn btn-success" value="<%= data[i] %>">
    <% } %>
</div>
</form>
<script type="text/javascript" src="/javascripts/keys.js"></script>
</body>
</html>
