/*

    Created on : 04 Jan, 2019, 1:33:49 AM
    Author     : Tejas07PSK (Palash Sarkar)

*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
